.navbar {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000;
  width: 100%;
  padding: 0.5em 1em;
}

.navbar h4 {
  color: #f00;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

.navbar ul a {
  font-weight: 900;
  color: #000;
}

@media screen and (min-width: 800px) {
  .navbar {
    padding: 0.5em 3em;
  }
  .navbar ul {
    width: 15%;
  }
}
